.container {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  margin: 25px auto;
  justify-content: space-around;
  list-style-type: none;

  .container-unit {
    display: flex;
    align-items: center;
    width: 350px;
    height: 17vh;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
  }
}
